{% extends "base.html" %}

{% block head %}{% endblock %}
{% block container %}
<h1>What is AIVScan?</h1>

<p>Today, some of our most valuable assets are in the form of electronic information. As such, we must take measures to protect our data and ensure that it doesn’t fall into the wrong hands. External threats, whether hackers or viruses, are a concern that is difficult to evaluate and assess. AIVScan is designed to give individuals and organizations the ability to quickly and efficiently assess their external footprint.</p>

<p>AIVScan is a web-based security evaluation application. Its primary goal is to efficiently and accurately assess the security of a computer. AIVScan will be designed for all types of users, home or business, regardless of technical sophistication. Our service is an automatic security scan that determines Internet-accessible services, their vendor and version, and any known vulnerabilities that can endanger the user’s computer and stored information. The product will automatically obtain much of the information necessary to conduct the security scan, including IP address, operating system, and others.</p>

<p>The scan will be conducted with increased depth. The first step will be to identify the services running on the computer. The second step will dig deeper and determine the vendor and version of each. The final step will attempt to ascertain if any of the services expose the user to risk via known software vulnerabilities.</p>

<p>The main output of AIVScan will be a security report. Users will receive this report through an email address that they must register on our website. The document will be presented in a very user friendly and non-technical format. Clients will be offered a summary of the results, detailed findings, and our suggestions for remediation actions. Each vulnerability discovered will be rated on a scale from Critical to Low. The secondary output of AIVScan will be in the form of educational slide shows that will be displayed while a security scan is in progress. These presentations will be designed to increase the users’ awareness of security topics such as password strength, avoiding phishing attacks, and others.</p>

<p>The primary goal of AIVScan is to improve the overall security profile of our users’ computers. If our clients follow through with our suggestions for improvement, they will improve their computer’s security and help protect their sensitive information.</p>
{% endblock %}
{% block scripts %}{% endblock %}