<!DOCTYPE html>
<html lang="en">
<head>
{% include "head_include.html" %}
{% block head %}{% endblock %}
</head>

<body>
{% include "nav_include.html" %}

<div class="container">
  <div class="row">
     <div class="span2"
       <p><img src="{{ STATIC_URL }}img/aivscan_logo.png" height="150px" width="175px" /></p>
     </div><!-- span2 -->
     <div class="span8">
     {% block container %}{% endblock %}
       </div><!-- span8 -->
</div> <!-- /container -->

{% include "footer_and_scripts.html" %}
{% block scripts %}{% endblock %}

  </body>
</html>
