<!DOCTYPE html>
<html lang="en">
<head>
<!-- note this page and the user profile are the only ones that do not extend base.html -->
{% include "head_include.html" %}
<style>
.mainlogo {
   margin-bottom: 2em;
   margin-top: 1em;
   margin-right: 2em;
   float: left;
}
</style>
</head>

<body>
{% include "nav_include.html" %}

<div class="container">

  <!--Borrowed this portion from the hero.html bootstrap template -->
    <div class="hero-unit" style="width:980px;">
       <p><img src="{{ STATIC_URL }}img/aivscan_logo.png" height="150px" width="175px" class="mainlogo"/></p>
      <h1>Welcome to AIVScan!</h1>
      <p>AIVScan is a web-based security evaluation application. Click the pretty blue button to get started! </p>
      <p>
      {% if user.is_authenticated %}
      <a class="btn btn-primary btn-large" href="{% url scan %}">Get Started &raquo;</a>
      {% else %}
      <a class="btn btn-primary btn-large" href="{% url registration_register %}">Get Started &raquo;</a>
      {% endif %}
      </p>
     </div>

  <div class="row">


     <div class="span8">
      <h2>Stuff about AIVScan</h2>
<p>AIVScan is a web-based security evaluation application. Its primary goal is to efficiently and accurately assess the security of a computer. AIVScan is designed for all types of users, home or business, regardless of technical sophistication. Our service is an automatic security scan that determines Internet-accessible services, their vendor and version, and any known vulnerabilities that can endanger the user’s computer and stored information. The product will automatically obtain much of the information necessary to conduct the security scan, including IP address, operating system, and others.</p>
 <p>The primary goal of AIVScan is to improve the overall security profile of our users’ computers. If our clients follow through with our suggestions for improvement, they will improve their computer’s security and help protect their sensitive information.</p>

       {% if user.is_authenticated %}
       <p>Click <a href="{% url scan %}">here</a> to get your next scan started.<p>
       {% else %}
       <p>Click <a href="{% url registration_register %}">here</a> to learn more</p>
       {% endif %}
        </div><!-- span 8 -->
      </div><!-- row -->
</div> <!-- /container -->

{% include "footer_and_scripts.html" %}

  </body>
</html>