{% extends "base.html" %}

{% block content %}

     <div class="hero-unit">
       <h1>Scan Complete!</h1>
     </div>
     <h2>Here's what we found...</h2>
<hr />
<!-- Begin Report
     ============ -->

<h3>Host Information</h3>
<table class="table table-striped">
	  <tr><td>Start time:</td><td>{{ report.start_time }}</td></tr>
      <tr><td>End time:</td><td>{{ report.end_time }}</td></tr>
	  <tr><td>IP address:</td><td>{{ host.ip4 }}</td></tr>
	  <tr><td>MAC Address:</td><td>{{ host.mac }}</td></tr>
	  <tr><td>Operating System:</td><td>{{ OS.name }}</td></tr>
</table>

<h3>Threat Report</h3>
<table class="table table-striped">
	<thead>
	  <tr>
        <th>Threat</th>
	    <th>Risk Level</th>
        <th>ID</th>
        <th>Description</th>
        <th>Remediation</th>
          </tr>
        </thead>
<tbody>
{% for vuln in vulns %}
<tr>
  <td>{{ vuln.script_id }}</td>
  <td class="span1">
    {% if vuln.risk_level == 3 %}
    <span style="font-weight:bold;color:crimson;">Critical</span>
    {% endif %}
    {% if vuln.risk_level == 2 %}
    <span style="font-weight:bold;color:orange;">High</span>
    {% endif %}
    {% if vuln.risk_level == 1 %}
    <span style="color:orange;">Medium</span>
    {% endif %}
  </td>
  <td class="span1">{{ vuln.public_id }}</td>
  <td>{{ vuln.description }}</td>
  <td>{{ vuln.mitigation }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<hr />

<h3>Port Vulnerabilities</h3>
<table class="table table-striped table-condensed">
	<thead>
          <tr>
            <th>Port</th>
            <th>Risk Level</th>
            <th>Status</th>
            <th>Description</th>
            <th>Feedback</th>
          </tr>
        </thead>
<tbody>
{% for port in ports %}
<tr>
  <td class="span2">{{ port.known_port.protocol }} / {{ port.known_port.port_number }}</td>
  <td>
    {% if port.known_port.risk_level == 3 %}
    <span style="font-weight:bold;color:crimson;">Critical</span>
    {% endif %}
    {% if port.known_port.risk_level == 2 %}
    <span style="font-weight:bold;color:orange;">High</span>
    {% endif %}
    {% if port.known_port.risk_level == 1 %}
    <span style="color:orange;">Medium</span>
    {% endif %}
  </td>
  <td class="span2">{{ port.state }}</td>
  <td>
    {% if port.known_port.description %}
    {{ port.known_port.description }}
    {% else %}
        {% if port.product %} {{ port.product }} {{ product.version }}
        {% else %}
        {{ port.service_name }}
        {% endif %}
    {% endif %}
  </td>
  <td>{{ port.known_port.mitigation }}</td>
</tr>
{% endfor %}

</tbody>
</table>

       </div><!-- span8 -->
{% endblock %}