{% extends "base_modal.html" %}
{% block modalform %}
<form id="modal-form" method="post" action="{% url auth_login %}" class="well form-vertical">

<div class="modal-header">
  <h2>Login</h2>
</div>

<div class="modal-body">
{% csrf_token %}
<span style="color:red">{{ form.non_field_errors }}</span>
<div class="control-group">
  <span style="color:red">{{ form.username.errors }}</span>
  <label for="id_username" class="regfields">Email Address</label>
  <div class="controls">{{ form.username }}</div>
</div>
<div class="control-group">
  <span style="color:red">{{ form.password.errors }}</span>
  <label for="id_password" class="regfields">Password</label>
  <div class="controls">{{ form.password }}</div>
</div>
<div  class="form-actions">
  <button type="submit" class="btn btn-primary">Login</button>
  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  <input type="hidden" name="next" value="{% url profile %}">
</div>
</form>
<a href="{% url password_reset %}" class="nav-to-modal" data-form="{% url password_reset %}">
              Forgot password?
</a>
</div> <!-- end modal body -->
{% endblock %}

