{% extends "base_modal.html" %}
{% block modalform %}
<form id="modal-form" method="post" action="" class="well form-vertical">

<div class="modal-header">
  <h2>Reset Password</h2>
</div>

<div class="modal-body">
  <p>Please enter your new password twice so we can verify it.</p>
  <hr>
{% csrf_token %}
<span style="color:red">{{ form.errors }}</span>
<span style="color:red">{{ form.non_field_errors }}</span>
{{ form.as_p }}

<div  class="form-actions">
  <button type="submit" class="btn btn-primary">Reset</button>
  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  <input type="hidden" name="next" value="{% url profile %}">
</div>
</form>
</div> <!-- end modal body -->
{% endblock %}

