{% extends "base.html" %}

{% block head %}
<style>
.help-block {
   color: #C0C0C0;
}
</style>{% endblock %}

{% block container %}
<div class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1; max-width: 100%;">
<div class="modal-header">
  <h2>Login</h2>
</div>
<div class="modal-body">
<form id="auth-form" method="post" action="{% url auth_login %}" class="form-horizontal">
{% csrf_token %}
{{ form.errors }}
{{ form.non_field_errors }}
<div class="control-group">
  {{ form.username.errors }}
  <label for="id_username" class="regfields">Email Address</label>
  <div class="controls">{{ form.username }}</div>
</div>
<div class="control-group">
  {{ form.password.errors }}
  <label for="id_password" class="regfields">Password</label>
  <div class="controls">{{ form.password }}</div>
</div>
<div  class="form-actions">
  <button type="submit" class="btn btn-primary">Login</button>
  <input type="hidden" name="next" value="/home/">
</div>
</form>
</div> <!-- modal body -->
</div><!-- Modal -->

{% endblock %}
{% block scripts %}
<script>
$("label.regfields").addClass("control-label");

function clearField(form) {
   $(form).find("input.input-large, textarea").each(function() {
       this.defaultValue = this.value;
       $(this).click(function() {
          if(this.value == this.defaultValue) {
              $(this).val("");
          }
          return false;
       });
       $(this).blur(function() {
           if(this.value == ""){
              $(this).val(this.defaultValue);
           }
       });
    });
}

$(document).ready(function() { clearField("#auth-form")})
</script>
{% endblock %}
