{% extends "base.html" %}

{% block head %}
<style>
.help-block {
   color: #C0C0C0;
}
</style>{% endblock %}

{% block container %}
<div class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1; max-width: 100%;">
<div class="modal-header">
  <h2>Change Password</h2>
</div>
<div class="modal-body">
<form id="change-form" method="post" action="{% url password_change %}" class="form-horizontal">
{% csrf_token %}
  {{ form.as_p }}
  <div  class="form-actions">
  <button type="submit" class="btn btn-primary">Reset</button>
  <input type="hidden" name="next" value="{% url profile %}">
</div>

</div> <!-- modal body -->
</div><!-- Modal -->

{% endblock %}
{% block scripts %}
{% endblock %}
