<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title></title>
</head>

<body>
<form id="submit-form" action="/scan">
    {% csrf_token %}
    {{ form }}
</form>

$("#submit-form").live("submit", function(e) {
    e.preventDefault();
    $.ajax({
        type: "post",
        url: $("#submit-form").attr("action"),
        data: $("#submit-form").serialize(),
        dataType: "json",
        success: function(data) {
            if (data.error == 1) {
                $("#submit-form").replaceWith(data.message);
            } else {
                 //do something good
            }
        }
      }
    });
}



</body> </html>
